{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebSiteBLocker</title>
        <link rel="stylesheet" href="{% static './style.css' %}">
        <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    </head>
    <style>
        .cta{
            margin: 100px auto;
            width: 80%;
            background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url({% static './images/banner2.jpg' %});
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            text-align: center;
            padding: 100px 0;
        }
        .testimonials-col{
            margin: 0px 20px;
        }
        
.header {

    min-height: 100vh;
    width: 100%;
    background: url({% static './images/Background.png' %});

    background-position: center;
    background-size: cover;
    position: relative;

}
.header:before{
    content: ' ';
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 40%;
    z-index: 0;
    
}

    </style>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img class="img-div" src="{% static './images/Logoo.png' %}"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    {% if user.is_authenticated%}
                    <li><a href="./logoutuser">LOGOUT</a></li>
                    <li><a href="./options">OPTIONS</a></li>
                    {%else%}
                    <li><a href="./Login">LOGIN</a></li>
                    <li><a href="./register">SIGN UP</a></li>
                    {% endif %}
                    <li><a href="./contact">CONTACT</a></li>
                    <li><a href="./About">ABOUT</a></li>

                </ul>
            </div>
        </nav>
        {% for message in messages %}
        <div class = "alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
            <strong color="red">Message:</strong>{{message}}
            <button type="button" class = "close" data-dismiss="alert" aria-lable="close">
            <span aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
        <div class="text-box">
            <h1>WEBSITE BLOCKER</h1>
            <p>Web site blocker is a simple program which is used to block sites.<br> It is a program which is useful in  many corporate sectors, offices, schools.</p>
            <a href="./register" class="hero-btn">SIGN UP NOW</a>
        </div>
    </section>
    <!-- <--------Course-------->
    <section class="course">
        <h1>What You Can Block</h1>
        <p>Any Site Which You Want</p>

        <div class="row">
            <div class="course-col">

                <h3>Social Media Sites</h3>
                <p>Such as Facebook, Instagram, Twiter. And many more </p>

            </div>

            <div class="course-col">

                <h3>Distractional Sites</h3>
                <p>Sites Like Youtube, Or any other site like News or the site which can distract you</p>
            </div>


            <div class="course-col">
                <h3>Adult sites</h3>
                <p>Like you don't want tour small ones to watch the sites which are not good for him/her in their childhood.</p>
            </div>
        </div>



    </section>

    <!-- <---------Campus-------->


    <section class="campus">

        <h1>Multiple System Support</h1>

        <p>In Many Platforms Like</p>

        <div class="row">
            <div class="campus-col">
                <img src="{% static './images/Windows.jpg' %}">
                <div class="layer">
                    <h3>WINDOWS</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="{% static './images/Mac.png' %}">
                <div class="layer">
                    <h3>MAC</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="{% static './images/Ubuntu.png' %}">
                <div class="layer">
                    <h3>UBUNTU</h3>
                </div>
            </div>

        </div>

    </section>

    <!-- <----------Facilities---------> 

    <section class="Facilities">
        <h1>Where Can You Use</h1>
        <p>In multiple fields like </p>

<div class="class row">
    <div class="facilities-col">
        <img src="{% static './images/SCHOOL.png' %}">
        <h3>IN SCHOOLS & COLLEGES</h3>
        <p>You can use this to block the sites which you don't want to used by the student in the schools & colleges.</p>
    </div>

    <div class="facilities-col">
        <img src="{% static './images/INDUSTRIES.png' %}">
        <h3>INDUSTRIES</h3>
        <p>You can block the sites in your Industries which you don't want to be used by your Employes</p>
    </div>

    <div class="facilities-col">
        <img src="{% static './images/HOME.png' %}">
        <h3>Home</h3>
        <p>You can block many sites at home or for the system which is used by your little ones.</p>
    </div>
</div>

    </section>

    <!-- <----------Testimonials--------->

    <section class="testimonials">
        <h1>Developers</h1>
        

        <div class="row">
            <div class="testimonials-col">
                <img src="{% static './images/Shashank.png' %}">
                <div>
                
                    <h3>Shashank Ahire</h3><h6>(Frontend Developer)</h6>
                </div>
            </div>

            <div class="testimonials-col">
                <img src="{% static './images/Sanket.png' %}">
                <div>
                    <p></p>
                    <h3>Sanket Aghav</h3> <h6>Backend Developer</h6>
                </div>
            </div>
            <div class="testimonials-col">
                <img src="{% static './images/Vikas.jpeg' %}">
                <div>
                    <p></p>
                    <h3>Vikas Bankar</h3> <h6>Database Analysist</h6>
                </div>
            </div>
        </div>

    </section>

    <!-- <----------Call TO  Action------->

        <section class="cta" id="iop">
            <h1>Enroll Now <br> Any where from world</h1>
            <a href="./contact" class="hero-btn">CONTACT US</a>


        </section>

        <!-- <----------Footer---------->

        <section class="footer">
            <h4>About us</h4>
            <p>The site is been developed and Handeled by the students of Sanjivani College of Engineering, Kopargaon.

        </section>

</body>

</html>