{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>STEP</title>
    <style> 
        h1 {
            text-align: center;
          }
          
      </style>
</head>
<body>
    <p>STEP 1</p>
    <img src="./../static/images/a.jpeg" width="400px">
    <br>
    <hr>
    <P>STEP 2</P>
    <img src="./../static/images/b.jpeg"  width="400px">
    <br>
    <hr>
    <P>STEP 3</P>
    <img src="./../static/images/c.jpeg"  width="400px">
    <br>
    <hr>
    <P>STEP 4</P>
    <img src="./../static/images/d.jpeg"  width="400px">
    <form>
    <div>
    <h1> <a href="./Login">Continue To Login</a> </h1>
    </div>
</form>
</body>
</html>